<ul class="nav nav-pills nav-stacked" role="tablist">
  <li role="presentation" class="<%= page == 'index' ? 'active' : '' %>">
    <%= link_to '微信公众号信息', '/admin/dashboard/index' %>
  </li>
  <li role="presentation" class="<%= page == 'mp_menus' ? 'active' : '' %>">
    <%= link_to '添加自定义菜单', "/admin/mp_menus" %>
  </li>
  <li role="presentation" class="<%= page == 'event_replies' ? 'active' : '' %>">
    <%= link_to '添加自定义事件', "/admin/event_replies" %>
  </li>
</ul>
